<div id="products">

    <header>
        <button class="btn btn-dark"><a class="text-decoration-none text-light" href={{ans.prevLink}}>prevLink</a></button>
        <button class="btn btn-dark"><a class="text-decoration-none text-light" href={{ans.nextLink}}>nextLink</a></button>
        <button class="btn btn-dark"><a class="text-decoration-none text-light" href="/api/auth/logout"> Logout </a></button>
    </header>    

        <div id="header">
        
        </div>
        
        <div id="productos">
        
        </div>

    
    {{!-- <div class="lista">
        {{#each ans.payload}}
        <div class="user-info">
        <span id="userInfo">
        <h2>{{this.title}}</h2>
        <p>price: {{this.price}}</p>
        <button>
            <a href={{../ans.link}}{{this._id}}/>Product details</a>
        </button>
        <button>Add to card</button>
        </span>
    </div>
        {{/each}}
    </div> --}}
</div>

<script src="JS/products.js"></script>